<IfModule mod_rewrite.c>
RewriteBase /
#Options +FollowSymLinks
RewriteEngine On
RewriteCond %{SERVER_PORT} !=443
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [NS,R,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
RewriteRule !.(js|gif|jpg|png|css|eot|svg|ttf|woff|woff2|map)$ index.php
</IfModule>
